#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cert-section{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  max-width:100%;
}
@media screen and (max-width:800px) {
  .cert-section{
    flex-direction: column;
  }
}